
# git stuff
alias gst="git status"
alias glog="git log --format='%Cgreen%H%Creset %C(cyan)%an%Creset - %s' --graph"
alias undo="git reset --soft 'HEAD^'"
alias active="echo -e '\r' && git for-each-ref --sort='-authordate' --format='%(color:blue)%(authordate:relative)  %(color:yellow)%(objectname:short=8)  %(color:cyan bold)%(refname)' refs/heads --count=15 --color=always | sed -e 's-refs/heads/--'"
alias merges='clear && git log --format="%Cgreen%H%Creset %C(cyan)%an%Creset - %s" -100 | grep "Merge pull request"'
alias standup="git log --reverse --branches --since=$(if [[ "Mon" == "$(date +%a)" ]]; then echo "last friday"; else echo "yesterday"; fi) --author=$(git config --get user.email) --format=format:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d' --date=local"
alias cur="git branch | grep '^\*' | cut -d' ' -f2 | tr -d '\n' | pbcopy"

# other devz
alias resource='source ~/.bash_profile && echo "Done!"'
alias be="bundle exec"
alias sp='be rspec --drb'
alias serve="python -m SimpleHTTPServer 8080"
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias ips="ifconfig -a | grep -o 'inet6\? \(\([0-9]\+\.[0-9]\+\.[0-9]\+\.[0-9]\+\)\|[a-fA-F0-9:]\+\)' | sed -e 's/inet6* //'"
alias hosts='sudo $EDITOR /etc/hosts'

# Pretty print the path
alias path='echo $PATH | tr -s ":" "\n"'
